@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap')

.content
  background: repeat url('../../../assets/Images/StarWarsBackground.png')
  background-size: cover
  font-family: 'Ubuntu', sans-serif
  display: flex
  height: 100vh
  justify-content: space-between
  flex-direction: column
  color: white
  .toMainPage
    padding: 20px
    text-align: center
  a
    color: white
    text-decoration: none
  .planet-cards
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    text-align: center
    align-items: center
    .planet-card
      padding: 10px 0 10px 0
      border: white 1px solid
      border-radius: 25px
      margin: 15px 5px
      list-style-type: none
      flex: 0 0 32%
      .planet-element
        .planet-detail
          display: none
    .planet-card:hover
      .planet-element
        display: flex
        flex-direction: column
        .planet-detail
          animation: fadeIn 1s ease-out
          display: inline
  .content__buttons
    padding: 20px
    display: flex
    justify-content: space-evenly
    button
      cursor: pointer
      background-color: transparent
      border-bottom: 2px solid #FFFFFF
      border-top: 2px solid #FFFFFF
      border-radius: 25px 25px 25px 25px
      height: 3em
      width: 10em
      color: white
@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1
@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0
