<div class="content">
    <div class="mainSec">
      <a routerLink="/swapi" routerLinkActive="active" > to main page</a>
      <ul>
        <li *ngFor="let planet of planets">
          <a routerLink="/planets/{{planet.name}}">{{planet.name}}</a>
        </li>
      </ul>
      <button type="button" (click)="this.nextPlanetPage()">Go next</button>
      <button type="button" (click)="this.prevPlanetPage()">Go previous</button>
      <button type="button" routerLink="/sidekicks">Go to sidekicks</button>
    </div>
</div>

