@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap')

body
  max-width: 100%
.MainPage
  box-sizing: border-box
  position: relative
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  transform-style: inherit
.MainPage img
  position: absolute
  top: 0
  left: 0
  width: 100%
  pointer-events: none
.MainPageText
  font-family: 'Archivo Black', sans-serif
  position: absolute
  text-align: center
  z-index: 5
  color: #FFFFFF
  font-size: 10rem
.hidden
  opacity: 0
  filter: blur(5px)
  transform: translateX(-100px)
  transition: all 3s
.show
  filter: blur(0px)
  transform: translateX(0)
  opacity: 1
