<div class="Main">
  <div class="MainPage">
    <h1 class="MainPageText hidden"> STAR WARS API</h1>
    <img src="assets/MainPageParallax/background.png" alt="background" id = "background"  >
    <img src="assets/MainPageParallax/leftMount1.png" alt="background" id = "leftMount" class="" >
    <img src="assets/MainPageParallax/rightMount.png" alt="background" id = "rightMount" >
    <img src="assets/MainPageParallax/forest.png" alt="background" id = "forest"  class="">
    <img src="assets/MainPageParallax/ship.png" alt="background" id = "ship" class="hidden">
  </div>
  <div class="SectionAfterMain">
    <button class="PlanetsButton">
      <a routerLink="/planets" routerLinkActive="active" > PLANETS</a>
    </button>

    <app-planet-preview [episodeId]="1"></app-planet-preview>
  </div>
</div>


<!--сделать черный фон с интерактивными звезднами -->
