@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap')

body
  min-height: 100vh
  .Main
    display: flex
    flex-direction: column
    flex: 1
.MainPage
  box-sizing: border-box
  position: relative
  display: flex
  justify-content: center
  align-items: center
  transform-style: inherit
  min-height: 100vh
  flex: 1
  z-index: -1
  #arrow
    animation: jump 1.5s infinite
    left: 50%
    top: 90%
    width: 64px
    height: 64px
.MainPage img
  position: absolute
  top: 0
  left: 0
  width: 100%
  pointer-events: none
.MainPageText
  font-family: 'Archivo Black', sans-serif
  position: absolute
  text-align: center
  z-index: 5
  color: #FFFFFF
  font-size: 10rem
.SectionAfterMain
  background: no-repeat url('../../../assets/Images/StarWarsBackground.png')
  background-size: cover
  width: 100%
  min-height: 130vh
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  align-content: center
  z-index: 1
  padding-top: 10vh
  .filmsList
    display: flex
    flex-direction: column
    align-items: center
    .timeline
      position: relative
      max-width: 1200px
      margin: 0 auto
      .container
        position: relative
        width: 50%
      .container:after
        content: ''
        position: absolute
        width: 25px
        height: 25px
        right: -1.2vw
        background-color: white
        border: 4px solid #395062
        top: 15px
        border-radius: 50%
        z-index: 1
      .left
        left: 0
      .right
        left: 50%
      .right:after
        left: -0.8vw
    .timeline:after
      content: ''
      position: absolute
      width: 6px
      background-color: white
      top: 0
      bottom: 0
      left: 50%
  h1
    padding: 20px
    color: #FFFFFF
    font-family: 'Archivo Black', sans-serif
  .PlanetsButton
    background-color: transparent
    border-bottom: 2px solid #FFFFFF
    border-top: 2px solid #FFFFFF
    border-radius: 25px 25px 25px 25px
    height: 5em
    width: 50em
    a
      font-family: 'Archivo Black', sans-serif
      text-decoration: none
      color: #FFFFFF
      font-size: 3em

.hidden
  opacity: 0
  filter: blur(5px)
  transform: translateX(-100px)
  transition: all 3s
.show
  filter: blur(0px)
  transform: translateX(0)
  opacity: 1

@keyframes jump
  0%
    transform: translate(-50%, -50%)
  50%
    transform: translate(-50%, -100%)
  100%
    transform: translate(-50%, -50%)
@media (max-width: 1560px)
  .Main
    .MainPage
      background: no-repeat url('../../../assets/MainPageParallax/download_img.png')
      width: 100%
      height: 100%
      .MainPageText
        font-size: 7rem
      .MainPageBack
        display: none
@media (max-width: 650px)
  .MainPage
    #arrow
      width: 32px
      height: 32px
    .MainPageText
      font-size: 4em
  .SectionAfterMain
    .PlanetsButton
      width: 30em
      height: 10em
