<div class="Main">
  <div class="MainPage">
    <h1 class="MainPageText hidden"> STAR WARS API</h1>
    <img src="assets/MainPageParallax/background.png" alt="background" id = "background"  >
    <img src="assets/MainPageParallax/leftMount1.png" alt="background" id = "leftMount" class="" >
    <img src="assets/MainPageParallax/rightMount.png" alt="background" id = "rightMount" >
    <img src="assets/MainPageParallax/forest.png" alt="background" id = "forest"  class="">
    <img src="assets/MainPageParallax/ship.png" alt="background" id = "ship" class="hidden">
    <img src="assets/Images/white-arrow.png" id="arrow" class="hidden">
  </div>
  <div class="SectionAfterMain">
    <button class="PlanetsButton">
      <a routerLink="/planets" routerLinkActive="active" > Go to Planets Page</a>
    </button>
    <div class="filmsList">
      <h1>Films</h1>
      <div class="timeline">
        <div class="container left">
          <div class="content">
            <app-planet-preview [episodeId]="1"></app-planet-preview>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <app-planet-preview [episodeId]="2"></app-planet-preview>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <app-planet-preview [episodeId]="3"></app-planet-preview>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <app-planet-preview [episodeId]="4"></app-planet-preview>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <app-planet-preview [episodeId]="5"></app-planet-preview>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <app-planet-preview [episodeId]="6"></app-planet-preview>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<!--сделать черный фон с интерактивными звезднами -->
