.content
  background: repeat url('../../../assets/Images/StarWarsBackground.png')
  background-size: cover
  font-family: 'Ubuntu', sans-serif
  display: flex
  min-height: 100vh
  justify-content: space-between
  flex-direction: column
  align-items: center
  color: white
  .resBlock
    display: flex
    justify-content: center
  .resCards
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    text-align: center
    align-items: center
    .resCard
      padding: 10px
      border: white 1px solid
      border-radius: 25px
      margin: 15px 5px
      flex: 0 0 32%
  .nameBlock
    padding: 20px
  .buttonsContent
    padding: 20px
  .toPrev
    padding: 10px
    cursor: pointer
    background-color: transparent
    border-bottom: 2px solid #FFFFFF
    border-top: 2px solid #FFFFFF
    border-radius: 25px 25px 25px 25px
    color: white
    a
      text-decoration: none
      color: white
