<div class="content">
  <div class="nameBlock">
    <h3>{{planet.name}}</h3>
  </div>

  <div *ngIf="residentNames.length >= 1">
    <div class="resBlock">
      <h5>Residents:</h5>
    </div>
    <div class="resCards">
      <div class="resCard" *ngFor="let residentName of residentNames">
        <div class="name">
          {{residentName.name}}
        </div>
      </div>
    </div>

  </div>

  <div *ngIf="residentNames.length == 0">
    <h1>There's no residents</h1>
  </div>

  <div class="buttonsContent">
    <div class="toPrev">
      <h3><a routerLink="/planets" routerLinkActive="active" class="swapiButton">To Planets Page</a></h3>
    </div>
  </div>

</div>
