.filmBlock
  min-width: min-content
  width: 60em
  min-height: min-content
  display: flex
  align-items: center
  padding: 5em 15em 5em 15em
  font-family: 'Archivo Black', sans-serif
  color: #FFFFFF
  font-size: 0.7rem
  border-bottom: 2px solid #FFFFFF
  .leftContent
    flex: 1
    margin: 30px

